<%= turbo_frame_tag "quiz-frame" do %>
  <section class="quiz-section">
    <div class="container-fluid">
      <div class="text-center">
        <p class="quiz-title fs-3">クイズ結果</p>
        <p class="quiz-intro-text fs-5"><%= @show_start_time %></p>
      </div>

      <!-- 結果テーブル -->
      <div class="quiz-results-table-container">
        <div class="table-responsive">
          <table class="quiz-results-table table table-hover table-bordered w-100"> <!-- w-100で幅100% -->
            <thead>
              <tr>
                <th>問題</th>
                <th>あなたの回答</th>
                <th>正解</th>
                <th>結果</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'quiz_result_partial', collection: @questions, as: :question %>
            </tbody>
          </table>
        </div>
      </div>

      <!-- もう一度プレイボタン -->
      <div class="quiz-button-container">
        <%= link_to(
          "もう一度プレイ",
          play_quizzes_path(state: 'new'),
          class: "submit-button",
          data: { turbo_frame: 'quiz-frame' }
        ) %>
      </div>
    </div>
  </section>
<% end %>
