<div class="hero-section">
  <div class="hero-titles">
    <h2 class="hero-subtitle">change email address</h2>
    <h1 class="hero-title">メールアドレスの変更</h1>
  </div>
</div>

<div class="background-container">
  <section class="account-management-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="account-details-card card bg-dark text-white mb-4">
            <div class="card-body text-center">
              <p class="mb-4">メールアドレスの更新が完了しました！</p>

              <%= link_to "プロフィールにもどる", edit_user_registration_path, class: "btn btn-primary px-5" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
