<%= turbo_frame_tag "favorite_word_list" do %>

  <%= turbo_frame_tag "word_detail" do %>
  <% end %>
  <% if words.any? %>
    <div class="word-list">
      <%= render partial: "words/word_item", collection: words, as: :word %>
    </div>
  <% else %>
    <p>お気に入りはまだありません。</p>
  <% end %>
<% end %>
