<turbo-stream action="replace" target="fav_not_login">
  <template>
    <div class="fav-word-login">
      お気に入りへ追加するにはログインが必要です。
      <%= link_to "ログインする", new_user_session_path, class: "btn btn-link", data: { turbo: false } %>
    </div>
  </template>
</turbo-stream>
