<% if resource.errors.any? %>
  <div class="error-message-container">
    <div class="error-message-header">
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase) %>
    </div>
    <ul class="error-message-list">
      <% resource.errors.full_messages.each do |message| %>
        <li class="error-message-item"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if flash[:alert].present? %>
  <div class="error-message-container">
    <div class="error-message-header">エラーが発生しました。</div>
    <% if flash[:alert].is_a?(Array) %>
      <ul class="error-message-list">
        <% flash[:alert].each do |message| %>
          <li class="error-message-item"><%= message %></li>
        <% end %>
      </ul>
    <% else %>
      <p class="error-message-item"><%= flash[:alert] %></p>
    <% end %>
  </div>
<% end %>
