<% if @contact && @contact.errors.any? %>
  <div class="error-message-container">
    <div class="error-message-header">エラーが発生しました。</div>
    <ul class="error-message-list">
      <% @contact.errors.full_messages.each do |message| %>
        <li class="error-message-item"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
