<p class="sub-home-explanation">
  また、ゲストとしても当サイトを利用できますが、アカウントにログインすると「単語のお気に入り機能」と「クイズ履歴機能」が利用できます !
  ぜひログインして、より効果的に学習を進めてみてください !
</p>
<div class="home-buttons">
  <%= link_to 'Sign up', new_user_registration_path, class: "home-button2" %>
  <%= link_to 'Log in', new_user_session_path, class: "home-button2" %>
</div>