<main class="fullscreen-bg">
  <div class="fullscreen-bg-content">
    <h1 class="home-main-title">No Scope</h1>
    <h3 class="home-sub-title">スコープなしで瞬時に伝えられるようになろう</h3>
    <div class="home-buttons">
      <%= link_to 'Word list', words_path, class: "home-button" %>
      <%= link_to "Word quiz", play_quizzes_path(state: "new"), class: "home-button", data: { turbo_frame: "quiz-frame" } %>
    </div>
  </div>

  <div class="home content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="home-explanation">No Scopeとは ? </h3>
          <p class="sub-home-explanation">
            FPS ゲーム Counter-Strike で使用される英単語を覚えられるサイトです !

            海外のプレイヤーがチームメイトになり、そのプレイヤーに敵を反対方向から挟んで撃ってほしい時、なんと言いますか ?

            分からないと、チャンスを逃してしまうかもしれません🫤

            No Scopeは、スコープを覗き込まずに瞬時に的を狙い射撃する技術、"No scope"のように、
            検索したり考えたりせずとも、すぐに頭に言いたいフレーズが出てくるようになるまでサポートします！
            
            当サイトのコンセプトは気に入りましたか ?
            ではまず、腕試しにクイズを受けてみましょう ! 何問正解できるでしょうか👀
          </p>
          <div class="home-buttons">
            <%= link_to "Word quiz", play_quizzes_path(state: "new"), class: "home-button2", data: { turbo_frame: "quiz-frame" } %>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="home content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= render partial: @partial_to_render, locals: { recent_quizzes: @recent_quizzes } %>
        </div>
      </div>
    </div>
    </div>
  </div>
</main>
