<main>
  <div class="fullscreen-bg-content">
    <h1 class="home-sub-title">No Scope</h1>
    <h3 class="home-main-title">スコープなしで瞬時に話せるようになろう</h3>

    <div class="home-buttons">
      <%= link_to 'Word list', words_path, class: "home-button" %>
      <%= link_to "Word quiz", play_quizzes_path(state: "new"), class: "home-button", data: { turbo_frame: "quiz-frame" } %>
    </div>
  </div>
</main>
