<div class="fullscreen-bg error-background">
  <div class="error-page container text-center">
    <div class="error-content">
      <h1 class="display-4 text-light">500 - 内部エラー</h1>
      <p class="text-light">
        Sry...サーバーで問題が発生したようです。
      </p>
      <%= link_to 'ホームにもどる', root_path, class: 'error-home-button' %>
    </div>
  </div>
</div>
