<div class="fullscreen-bg error-background">
  <div class="error-page container text-center">
    <div class="error-content">
      <h1 class="display-4 text-light">404 - ページが見つかりません</h1>
      <p class="text-light">
        お探しのページは存在しないか、削除された可能性があります。
      </p>
      <%= link_to 'ホームにもどる', root_path, class: 'error-home-button' %>
    </div>
  </div>
</div>
