<div class="hero-section">
  <div class="hero-titles">
    <h2 class="hero-subtitle">Word List</h2>
    <h1 class="hero-title">単語一覧</h1>
  </div>
</div>

<div class="background-container">
  <section class="word-filter">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="browse-by-alphabets category-menu d-flex flex-wrap align-items-center mb-3">
            <%= render partial: "words/alphabet_buttons", collection: @letters, as: :letter %>
          </div>
          <%= turbo_frame_tag "word_list" do %>
            <%= render partial: 'words/words_list', locals: { words: @words, letter: nil, message: @message } %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
