// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";


/* カスタムオフキャンバスの横幅調整 */
.offcanvas.offcanvas-end {
    width: 250px  /* 希望する横幅に調整 */
  }
    @media (max-width: 767px) {
    .offcanvas.offcanvas-end {
      width: 200px  
    }
  }
  
  

/* ホバー */
.col-12.col-md-6.p-0 {
    transition: background-color 0.3s, transform 0.3s;
  
    &:hover {
      background-color: #98ceeb; // ホバー時の背景色（赤系の淡い色）
    }
  
    /* ホバー時タイトル文字の色変更 */
    .card-body {
      transition: color 0.3s;
  
      &:hover {
        color: #0015b3;
      }
    }
  
    /* リンクのホバー時のスタイル変更 */
    a {
      color: inherit;
      transition: color 0.3s;
  
      &:hover {
        color: #cc0000;
        text-decoration: underline; // リンクに下線を追加（任意）
      }
    }
  }
  