<p>こんにちは! <%= @resource.email %> さん</p>

<p>No Scope をご利用いただきありがとうございます。</p>

<p>パスワードのリセットリクエストを受け付けました。以下のリンクから新しいパスワードを設定してください。</p>
<p><%= link_to 'パスワードをリセットする', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このリクエストにお心当たりがない場合は、このメールを無視してください。</p>

<p>また、このメールは送信専用です。ご返信いただいてもお答えできません。</p>
<p>ご不明点がある場合はこちらまでお問い合わせください。</p>

<a href="https://no-scope-7a687b7df71c.herokuapp.com/">No Scope</a></p>